<!DOCTYPE html>
<html>
<head>
  <title>NetworkPortal</title>
  <%= stylesheet_link_tag :all, :recursive => true %>
  <%= javascript_include_tag :all, :recursive => true %>
  <%= javascript_include_tag "../cytoscapeweb/js/AC_OETags.min.js"%>
  <%= javascript_include_tag "../cytoscapeweb/js/cytoscapeweb.min.js"%>
  <%= javascript_include_tag "../cytoscapeweb/js/json2.min.js"%>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
